{% extends 'blogpost/base.html' %}
<!-- title -->
{% block title %} {{ post.title }} | Blog {% endblock title %}

<!-- title end -->
{% block content %}
<div class="container mx-auto mt-8">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold mb-4">{{ post.title }}</h1>
    <hr class="my-4" />
    <div class="flex items-center text-gray-400 mb-4">
      <span class="mr-2">{{ post.timestamp }}</span>
      <span class="mr-2">Views: {{ post.view_count }}</span>
    </div>
    <img
      src="{{ post.photos.url }}"
      alt="Post Image"
      class="w-full h-64 object-cover mb-4"
    />
    <div class="mt-4">{{ post.content|linebreaksbr }}</div>
  </div>
</div>
{% endblock %}
